html{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 66px 100px 30px 100px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

a{
    text-decoration: none;
}

.blue_color{
    color: #4BCAFF;
}

.menu{
    background: #35444F;
}


.names_part {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
}

.names_part li:hover{
    background: #222F3A;
}

.names_part > li{
    padding: 25px 35px 20px 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

main{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

aside{
    border: 1px solid black;
    margin: 0px 52px 0px 0px ;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

aside ul li{
    display: flex;
    justify-content: start;
    padding: 30px 80px 25px 45px;
    font-size: 27px;
    line-height: 27px;
    width: 220px;
    height: 27px;
    color: #35444F;
}

aside ul li:hover{
    background: #DBDBDB;
    padding-left: 50px;
}


.photo{
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 320px;
    height: 381px;
}

.first-para{
    width: 885px;
    height: 120px;
    margin:40px 0px 35px 0px;    
    font-size: 18px;
    color: #2C2C2C;
}

.second-para{
    width: 885px;
    height: 120px;
    font-size: 18px;
    color: #2C2C2C;
}

footer{
    width: 1280px;
    height: 69px;
}

footer{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 0px 20px 40px;
    justify-content: space-between;
}

.footer_end{
    display: flex;
}

.footer_end li {
    padding-left: 20px;
    font-size: 28px;
    line-height: 28px;
    
    display: flex;
    align-items: center;
    
    color: #0C1927;
    
}

footer span{
    padding-right: 40px;
    font-size: 28px;
    line-height: 28px;
    
    display: flex;
    align-items: center;
    
    color: #0C1927;
    
}


.footer_end li:hover{
    color: #3181A6;
    text-decoration: underline;
}

footer span:hover{
    color: #3181A6;
    text-decoration: underline;
}